@media screen and (max-width: 600px) {
  .nav-items {
    display: none;
  }
  .nav-collapse {
    display: block;
    align-items: center;
  }
  .explore-travel {
    padding: 30px 15px;
    object-fit: cover;
    background-size: auto;
  }
  .explore-travel h1 {
    font-size: 22px;
  }
  .explore-travel p {
    margin: 8px auto;
    width: 70%;
    font-size: 14px;
  }
  .travel-plan {
    flex-direction: column;
  }
  .travel-plan {
    width: 80%;
    margin: 10px auto;
  }
  .travel-plan input {
    padding: 10px;
    width: 100%;
  }
  .popular-tour {
    flex-direction: column;
    gap: 30px;
  }
  .tour-description {
    width: 100%;
  }
  .tour-img {
    width: 100%;
  }
  .destination-description p {
    width: 80%;
  }
  .destination-section {
    display: block;
  }
  .destination-section .destination-img img {
    margin-top: 10px;
    height: 40vh;
  }
  .chose-us-card {
    flex-direction: column;
  }
  .card {
    width: 90%;
    margin: 10px auto;
  }
  .newsletter-container {
    flex-direction: column;
  }
  .newsletter-img img {
    width: 100%;
  }
  .newsletter-discount {
    height: 25%;
    width: 50%;
    padding: 0.8rem;
  }
  .newsletter-discount p {
    font-size: 0.8rem;
  }
  .newsletter-discount h3 {
    font-size: 1rem;
  }
  .footer-section {
    padding: 30px 40px;
  }
  footer p {
    width: 70%;
    margin: 10px auto;
  }
}
