* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}
/* multi useable calsses */
.container {
  width: 90%;
  margin: 20px auto;
}
#text-orange {
  color: #ff5400;
  text-align: center;
}
/* multi useable classes ends here */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-icon {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.nav-collapse {
  display: none;
}
.nav-items {
  display: flex;
  justify-content: space-around;
  gap: 3rem;
}
.nav-items a {
  text-decoration: none;
  color: #424247;
  text-align: center;
  font-size: 18px;
}
.nav-icon h2 {
  color: #131318;
  font-size: 1.3rem;
  font-weight: 800;
}
/* navbar section done */
/* travel explore section start here */
.explore-travel {
  background-image: url("../Images/Group 13 (1) (1).png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 100px 200px;
}
